a {
  text-decoration: none;
  color: gray;
}

li {
  list-style: none;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  
  .bg-alpha {
    background-color: rgba(255, 255, 255, 0.7);
  }
}