@media (max-width: 900px) {
  #move .btn-circle-border-double {
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 30px;
    left: 80px;
    position: relative;
  }

  #move .top-propa {
    position: absolute;
    top: 300px;
    left: 80px;
    font-size: 28px;
  }

  .app-background-image {
    background-size: contain;
    height: 600px;
  }

  .top-propa {
    font-size: 25px;
  }

  .index-box {
    height: 400px;

    .title {
      width: 300px;
      font-size: 20px;
    }
  
    .index-box__graph {
      height: 400px;
      width: 620px;
    }
  }
}

@media (max-width: 620px) {
  #move .btn-circle-border-double {
    width: 160px;
    height: 160px;
    line-height: 160px;
    font-size: 20px;
    left: 40px;
    position: relative;
  }

  #move .top-propa {
    position: absolute;
    top: 180px;
    left: 40px;
    font-size: 20px;
  }

  .app-background-image {
    background-size: contain;
    height: 400px;
  }

  .index-box {
    height: 200px;

    .title {
      width: 200px;
      font-size: 14px;
    }
  
    .index-box__graph {
      height: 300px;
      width: 300px;
    }
  }
}