#move {
  position: relative;
  height: 0;
  text-align: center;

  .btn-circle-border-double {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 320px;
    height: 320px;
    line-height: 320px;
    border-radius: 50%;
    border: double 4px #668ad8;
    overflow: hidden;
    transition: .2s;
    font-size: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 150px;
  }
  
  .btn-circle-border-double:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

  .top-propa {
    height: 150px;
    color: rgb(152, 163, 0);
    line-height: 150px;
    padding-top: 20px;
    text-align: left;
    position: absolute;
    top: 350px;
    left: 150px;
  }
}