.registrations--margin {
  width: 500px;
  margin: auto;

  & h2 {
    margin-top: 20px;
    text-align: center;
  }

  .errors_message {
    text-align: center;
  }

  & .field, .login-bottom{
    margin-left: 160px;
    padding-bottom: 20px;
  }
}